<h1><%= current_user.nickname %></h1>
<p><%= current_user.email %></p>
<p><%= "Admin" if current_user.admin? %></p>

<%= link_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary" %>
<%= link_to "Back", root_path, class: "btn btn-secondary" %>
